doctype html
html
  head
    title IT Support Chat System
    link(rel='stylesheet', href='/jquery-ui-1.12.1/jquery-ui.min.css')
    link(rel='stylesheet', href='/landing_style.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='/jquery-ui-1.12.1/jquery-ui.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js.cookie.js')
    script(src='/landing.js')
  body
    .container
      header Welcome to IT CHAT SYSTEM
      .login-dialog
        p.header-bar Login
        p.field
          input#login-username(type='text', placeholder='Username')
        p.field
          input#login-password(type='password', placeholder='Password')
        p.submit
          button(name='submit', onclick='login()') Login
        p#login-result
      .register-dialog
          p.header-bar Register
          p.field
            input#register-username(type='text', placeholder='Username')
          p.field
            input#register-password(type='password', placeholder='Password')
          p.field
            input#register-type(type='text', placeholder='usertype')
          p.submit
            button(type='submit', name='submit', onclick='register()') Register
          p#register-result
