doctype
html
	head
		title "SENG 513 Web Chat"

		link(rel='stylesheet', href='/jquery-ui-1.12.1/jquery-ui.min.css')
		link(rel='stylesheet', href='/staff-style.css')
		script(src='https://code.jquery.com/jquery-3.1.1.min.js')
		script(src='/jquery-ui-1.12.1/jquery-ui.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js.cookie.js')
		script(src='/staff-client.js')
	body
		#leftContent
			#queueArea
				ul#queueList
			#logoutButton
				ul(style='text-align: center; list-style-type: none;')
					li
						button#account_settings(class='button', style='padding: 10px 20px; font-size: 14px;') Account Settings
					li(style='margin-top: 4%')
						button#logout_button(class='button', style='padding: 10px 20px; font-size: 14px;') Logout
		#rightContent
			#tabs
				ul
			#searchArea
				#iframe
					iframe(width='100%', height='100%', src='https://en.wikipedia.org/w/index.php?search=&title=Special%3ASearch&go=Go')

	#dialogTabs(title='Max Ticket Number Reached') You're handling too many tickets! Please resolve or close some tickets before opening new ones.
	#dialogInvite
	#dialogUserHistory This feature is not implemented yet :(
	#dialogPane
	#invitationPane